<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jatzek3 blog</title>
</head>
<body>
    <div>
    <header><div class="nav-bar-home">
        <h1><a href="{% url 'home' %}">Jatzek3 Blog</a></h1>


    </header>
    {% if user.is_authenticated %}
    <p> {{ user.username }}</p>
        <a href="{% url 'post_new' %}">New Blog Post</a>
        <p><a href="{% url 'logout' %}">Log out</a> </p>
    {% else %}
    <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log IN</a>
        <a href="{% url 'signup' %}">Sign Up</a>

    {% endif %}
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>