<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jatzek3 Site</title>
</head>
<body>
    <header>
        <div class="nav-bar-home">
        <h1>Greetings traveler</h1>
        <h2><a href="{% url 'home' %}">Home</a></h2>
        <h2><a href="{% url 'blog' %}">Blog</a></h2>
        </div>
    </header>

    {% if user.is_authenticated %}
    <p> {{ user.username }}</p>

        <p><a href="{% url 'logout' %}">Log out</a> </p>
    {% else %}
    <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log IN</a>
        <a href="{% url 'signup' %}">Sign Up</a>

    {% endif %}
    {% block content %}
    {% endblock content %}

</body>
</html>